[Unit]
Description=TeamSpeak 3 Server
After=network.target

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/home/teamspeak
WorkingDirectory=/home/teamspeak
ExecStart=/home/teamspeak/ts3server_startscript.sh start
ExecStop=/home/teamspeak/ts3server_startscript.sh stop
StandardOutput=syslog
StandardError=syslog
User=teamspeak3
Group=teamspeak3
Restart=always

[Install]
WantedBy=multi-user.target
