[Unit]
Description=TeamSpeak 3 Server
After=network.target

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/home/teamspeak
WorkingDirectory=/home/teamspeak
ExecStart=/home/teamspeak/ts3server_linux_amd64
ExecStop=/bin/kill -15 $MAINPID
StandardOutput=syslog
StandardError=syslog
User=teamspeak
Group=teamspeak
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
